/* index.module.css */
.sidebar {
    padding: 0;
  }
  
  .activeItem {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .MuiListItem-root {
    padding-left: 16px;
  }
  
/* .menuIcon :hover{
  background-color:#194CF0 ;
  color: white;
  transition: 0.3s ease-in-out;
}

.menuIcon{
  transition: 0.3s ease-in-out;
} */

.sidebar :global(.MuiListItem-root) {
  transition: background-color 0.2s ease;
}

.sidebar :global(.MuiListItem-root:hover) {
  background-color: #1565c0; /* hover blue */
}

.activeItem {
  background-color: #1565c0 !important; /* active blue */
}

.menuIcon {
  color: white;
}