/* index.module.css */
.sidebar {
  padding: 8px !important;  
  display: flex;
  flex-direction: column;
  align-items: center ;
  gap: 8px;
}

.MuiListItem-root {
  padding-left: 16px;
}

/* .menuIcon :hover {
  background-color: #194cf0;
  color: white;
  transition: 0.3s ease-in-out;
  
} */

/* .menuIcon {
  transition: 0.3s ease-in-out;
} */

.sidebar :global(.MuiListItem-root) {
  transition: background-color 0.2s ease;
}

.sidebar :global(.MuiListItem-root:hover) {
  background-color: #1565c0; /* hover blue */
   border-radius: 10px;
}

.activeItem {
  background-color: #1565c0 !important; /* active blue */
  transition: #1565c0 0.1s ease;
  border-radius: 10px;
}

.menuIcon {
  color: white;
}
