.container {
    padding: 20px;
    background-color: #ebecec;
}

.card {
    padding: 16px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.dashboardContainer{
    width: 100%;
}