body .headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

body .title {
  font-size: 20px;
  color: #333c43;
  font-weight: 500;
}

body .controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

body .toggleGroup{
  border-radius: 6px;
}

body .toggleButton {
  text-transform: capitalize;
  font-weight: normal;
  color: #333c43;
  background-color: #ffffff;
  font-family: sans-serif;
  padding: 6px 10px;
  min-width: 65px;
}

body .active {
  color: #ffffff !important;
  background-color: #143352 !important;
  transition: 0.3s ease-in-out;
  font-family: sans-serif;

}

body .toggleButton:hover {
  background-color: #e1dfdf;
  color: #143352;
  transition: 0.3s ease-in-out;
  font-family: sans-serif;
}

body .active:hover {
  color: #ffffff !important;
  background-color: #143352 !important;
  transition: 0.3s ease-in-out !important;
}

body .datePicker {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nextPrevIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.npIcon{
  width: 36px;
  min-width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #999da1;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
}