.modalHeader {
  display: flex !important;
  justify-content: space-between !important;
  padding: 16px !important;
}

.imageWrapper {
  position: relative !important;
  text-align: center !important;
}

.arrowButton {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  background-color: rgba(255, 255, 255, 0.6) !important;
  transition: background-color 0.3s ease !important;
}

.arrowButton:hover {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.arrowLeft {
  left: 0 !important;
}

.arrowRight {
  right: 0 !important;
}

.image {
  max-height: 70vh !important;
  width: auto !important;
  max-width: 100% !important;
  margin: 0 auto !important;
}

.imageDetails {
  margin-top: 5px !important;
}
