.textFieldWrapper {
    width: 100%;

}

.pricing {
    border: 1px solid #E8E8E8 !important;
    border-radius: 8px !important;
}

.label {
    font-family: Helvetica !important;
    font-weight: 700 !important;
    /* font-style: Bold  !important; */
    font-size: 14px !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    margin-bottom: 5px !important;
}

.noSpinnerInput::-webkit-outer-spin-button,
.noSpinnerInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.noSpinnerInput {
    -moz-appearance: textfield;
}

.zeroPaddingInput {
    padding: 10px 10px 10px 10px !important;
}


.error {
    color: red;
    background-color: transparent !important;
}

.requiredSymbol {
    color: red;
}

.createOrderError {
    background: none !important;
    color: #c70707;
    font-size: 14px;
}

.startIcon {
    display: flex;
    align-items: center;
    height: 100%;
}

.endIcon {
    display: flex;
    align-items: center;
    height: 100%;
}