/* ./index.module.css */

.pageContainer {
  display: flex !important;
  justify-content: space-between !important;
}

.searchActions {
  display: flex !important;
  gap: 10px !important;
}

.iconBtn {
  padding: 8px !important;
}
.iconBtn:hover{
  background-color: #808080!important;
  color: whitesmoke;
}

.colleaguesWrapper {
  padding-top: 8px !important;
  height: 100% !important;
}

.paperWrapper {
  padding: 10px !important;
  height: 100% !important;
}

.actionButtons {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  margin-bottom: 24px !important;
}

.statusButtons {
  display: flex !important;
  gap: 16px !important;
}

.activeBtn {
  border-radius: 8px !important;
  background-color: #e2ffe2 !important;
  color: black !important;
  width: 200px !important;
  display: flex !important;
  justify-content: space-between !important;
  text-transform: none !important;
  font-size: 17px !important;
}

.activeCount {
  background-color: #0fb90f !important;
  color: white !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  margin-left: 8px !important;
  border-radius: 8px !important;

}

.inactiveBtn {
  border-radius: 8px !important;
  background-color: #ffeaea !important;
  color: black !important;
  width: 200px !important;
  display: flex !important;
  justify-content: space-between !important;
  text-transform: none !important;
  font-size: 17px !important;

}

.inactiveCount {
  background-color: #ff0000 !important;
  color: white !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
  margin-left: 8px !important;
  border-radius: 8px !important;
}
.iconBtn {
  padding: 8px !important;
  background-color: #ffffff!important;
  border-radius: 8px !important;
}
.iconBtn:hover{
  background-color: #808080!important;
  color: whitesmoke;
}
