.wrapper {
  width: calc(100% - 90px) !important; /* Adjust as needed */
  margin-left: 68px !important;
  margin-top: 24px !important; /* mt: 3 (3 * 8px) */
  margin-bottom: 8px !important; /* mb: 1 (1 * 8px) */
  padding-left: 10px !important;
  padding-right: 7px !important;
}

.timelineContainer {
  display: flex !important;
  height: 20px !important;
  width: 100% !important;
  overflow: hidden !important;
  border: 1px solid #e4e2e2 !important;
}

.timelineBlock {
  flex-grow: 1 !important;
  flex-shrink: 0 !important;
  height: 100% !important;
  cursor: pointer !important;
}
.pendingOffline {
background-color: #f0f0f0 !important; 
background-image: linear-gradient(45deg, #dad9d9 25%, transparent 25%, transparent 50%, #dad9d9 50%, #dad9d9 75%, transparent 75%, transparent);
/* linear-gradient(-45deg, #ccc 25%, transparent 25%, transparent 50%, #ccc 50%, #ccc 75%, transparent 75%, transparent); */
background-size:4px 5px;
/* border: 1px dashed gray; */
}
.approvedOffline {
background-color: #c1e5f8 !important; 

}

