.dayCellWrapper {
  display: flex;
  height: 100%;
  border-radius: 4px;
  background: white;
}

.workingText {
  border-radius: 4px;
  position: relative;
  color: #4caf50;
  position: absolute;
  top: 68px;
  left:  -11px;
}


.statusBar {
  width: 4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: transparent;
}

.normal .statusBar {
  background-color: #4caf50;
}

.low .statusBar {
  background-color: #ff9800;
}

.absent .statusBar {
  background-color: #f44336;
}

.dayCell {
  padding: 4px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 100px !important;
  height: 100px !important;
}
.dayNumber {
  font-size: 11px !important;
  font-weight: normal !important;
  position: absolute !important;
  top: 4px !important;
  left: 85px !important;
}

.absentText {
  color: #c62828;
  font-weight: 500;
  /* margin-top: 16px; */
  position: absolute !important;
  left: -11px !important;
  top: 68px !important;
}

.arrived,
.left {
  font-size: 11px !important;
  color: #d32f2f;
}

/* .fixedCell {
  min-height: 140px;
  height: 140px;
  max-height: 140px;
  min-width: 120px;
  box-sizing: border-box;
} */
.fixedCell {
  /* width: 140px !important;
  height: 160px !important; */
  padding: 4px !important;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  background-color: #ffffff; /* Your preferred color */

}

.worked {
  font-size: 11px !important;
  font-weight: 500;
  color: #d32f2f;
}

.text {
  font-size: 11px !important;
  margin: 1px 0;
  color: #424242;
}

.progressBarContainer {
  display: flex;
  height: 6px;
  margin-bottom: 6px;
  margin-top: 2px;
  border-radius: 1px;
  overflow: hidden;
  width: 100px;
}

.greenBar {
  width: 65%;
  background-color: #4caf50;
}

.grayBar {
  flex-grow: 1;
  background-color: #e0e0e0;
}

.textAlign {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  position: absolute !important;
  /* left: -16px !important;
  top: 28px !important; */
  left: -38px !important;
  top: 42px !important;
};

.workingClass{
  background-color: #eff8e9; /* Your preferred color */
  
}

.absentClass{
  
}

/* Remove border and shadow from calendar day headers */
:global(.fc .fc-col-header-cell) {
  border: none !important;
  background: white !important;
  box-shadow: none !important;
}

/* Optional: remove top border of the calendar grid */
:global(.fc .fc-scrollgrid) {
  border-top: none !important;
}

/* Optional: Remove the border below header only (if needed) */
:global(.fc .fc-col-header) {
  border-bottom: none !important;
}