.loaderContainer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 100px !important;
    height: 100vh;
}

.loader {
    color: #175ed1 !important;
}