
.pageContainer {
  display: flex !important;
  justify-content: space-between !important;
  height: 50px;
}

.searchActions {
  display: flex !important;
  gap:10px !important;
}
.iconBtn {
  padding: 8px !important;
  background-color: #ffffff!important;
  border-radius: 8px !important;
}
.iconBtn:hover{
  background-color: #808080!important;
  color: whitesmoke;
}
